/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/docs/.vitepress/cache
/docs/.vitepress/dist
/public/docs
.env
.env.dusk
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
*.bak
/tests/output
bootstrap/ssr

**/caddy
frankenphp
frankenphp-worker.php
