includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - app/
    level: 1
    treatPhpDocTypesAsCertain: true
    disableSchemaScan: true
    disableMigrationScan: true
    parallel:
        maximumNumberOfProcesses: 1
